body {
    background-color: #252525;
    margin: 0;
    overflow-y: scroll; /*Forces a scroll-bar to prevent content shifting*/
}

@font-face {
    font-family: dejavu;
    src: url('../assets/fonts/dejavu/DejaVuSans.ttf');
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    max-height: 100px;
    max-width: 100%;
    background-color: #161616;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 17rem;
    min-width: 13rem;
}

.nav-container {
    display: flex;
    background-color: #79241ffd;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.589);
    justify-content: center;
    align-content: center;
    max-width: 100%;
    padding: 8px;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    width: 55rem; 
    justify-content: space-between;
    font-family: dejavu;
    font-size: 18px;
}

.content-container {
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.left {
    flex: 50%;
    text-align: center;
}

.right {
    flex: 50%;
}

.hero {
    max-width: 70%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.589);
}


.footer-wrapper {
    display: flex;
    justify-content: center;
    background-color: #161616;
    width: 100%;
}

.footer-container {
    display: flex;
    background-color: #161616;
    padding: 20px;
    text-align: center;
    width: 55rem;
    font-family: dejavu;
}

.footer-left {
    flex: 50%;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.footer-right {
    flex: 50%;
}


/* Need to further specify so that all site links do not
inherit the rules below. */
a {
    text-decoration: none;
    color: white; 
}

a:hover {
    color: #252525;
}

h1 {
    font-family: arial;
    font-size: 3rem;
    color: white;
}

h2 {
    font-family: arial;
    font-size: 2rem;
    color: white;
}    


h3 {
    font-family: arial;
    font-size: 1.25rem;
    color: white;
}

p {
    font-family: arial;
    font-size: 1rem;
    color: white;
}

li {
    list-style: none;
}

span {
    color: white;
    font-family: arial;
    font-size: 1rem;
}
